<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->
   <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>Login</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>Setup</servlet-name>
      <servlet-class>Setup</servlet-class>
   </servlet>

  <servlet>
      <servlet-name>Write</servlet-name>
      <servlet-class>Write</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>WriteAward</servlet-name>
      <servlet-class>WriteAward</servlet-class>
  </servlet>

   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>First</servlet-name>
      <url-pattern>/First</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/Login</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Setup</servlet-name>
      <url-pattern>/Setup</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
      <servlet-name>Write</servlet-name>
      <url-pattern>/Write</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
      <servlet-name>WriteAward</servlet-name>
      <url-pattern>/WriteAward</url-pattern>
    </servlet-mapping>


</web-app>
